@media only screen and (max-width: 600px) {
    .about_detail_heading{
        font-size: 150%;
        font-weight: 900;
    }
    .about_detail_heading_span{
        color: rgb(150, 120, 0);
        font-size: 1.5rem;
    }
    .about_detail_myself{

    }
    .about_detail_heading_blink{
        font-size: 1.5rem;
    }
    .about_img{
        display: none;
    }
    .container_skill{
        display: none;
    }
    .conatiner_skill_part{
        width: 50%;
    }
    
  }