*{
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin: 0%;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
body{background-color: black;}
main{
    /* position: relative; */
}
.intro{
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    margin-bottom: 10rem;
    z-index: -10;
    position: sticky;
    top: 0;
}
.intro_name{
    display: flex;
    color: rgb(73, 73, 73);
    text-transform: uppercase;
    margin-top: 2rem;
}
.name{
    font-size: 13.5vw;
}
.name_first{
    position: relative;
    left: -0rem;
    animation: leftSlide 1s ;
}
@keyframes leftSlide {
    0%{
        left: -25rem;
        opacity: 0;
    }
    100%{
        left: -0rem;
        opacity: 1;
    }
}
.name_dash{
    position: relative;
    right: -0rem;
    animation: rightSlide 1s ;
}
@keyframes rightSlide {
    0%{
        right: -25rem;
        opacity: 0;
    }
    100%{
        right: -0rem;
        opacity: 1;
    }
}
.intro_about{
    display: flex;
    padding: 2rem;
    animation: pop 0.5s ease-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}
@keyframes pop {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.about_img_upper{
    display: none;
}
.about_img_pic_img{
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: rotateY(180deg);
}
.about_detail{
    display: flex;
    flex-direction: column;
    color: darkgrey;
    justify-content: center;
}
.about_detail_heading{
    font-size: 300%;
}
.about_detail_heading_span{
    color: rgb(150, 120, 0);
    font-size: 3rem;
}
.about_detail_heading_blink{
    font-size: 3rem;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes blinking{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
.about_detail_resume_a{
    text-decoration: none;
    color: whitesmoke;
}
.about_detail_resume_p{
    color: whitesmoke !important;
    display: inline-block;
    background-color:rgb(73, 73, 73) ;
    padding: 0.5rem 1rem;
    margin: 4rem 0;
    font-size: 150%;
    position: relative;
    z-index: 10;
    border-bottom: 5px solid darkgrey;
}
.about_detail_resume_p::before{
    content: '';
    text-align: center;
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1000;
    background-color: rgb(150, 120, 0);
    transition: all .5s ease;
}
.about_detail_resume_p:hover::before{
    cursor: pointer;
    width: 100%;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
}
.navBar{
    display: none;
    position: fixed;
    justify-content: space-between;
    top: 0;
    z-index: 1000;
    width: 100vw;
    padding: 0.5rem;
    opacity: 1;
    transition: all 1s ease-in;
    color: whitesmoke;
    background-color: rgb(55, 55, 55);
    /* opacity: 0; */
}
.navBar_active{
   opacity: 1; 
    /* transition: all 1s; */
    animation: opac_1 0.3s ease-in-out;
}
@keyframes opac_1 {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.navBar.navBar_active{
    display: flex;
    /* transition: all 1s; */
}
.nav_logo{
    width: 3rem;
    max-width: 10%;
    height: 3%;
    animation-name: logo_ch;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes logo_ch {
    0%{transform: scale(1);}
    50%{transform: scale(1.3);}
    100%{transform: scale(1);}
}
h2{display: inline-block;}
.navBar_section{
    display: flex;
    /* visibility: hidden; */
    flex-basis: 25rem;
    align-items: center;
    font-size: 1.3rem;
    justify-content: space-around;
    /* transition: all 1s ease; */
}
a{
    color: white;
    text-decoration: none;
}
.skill{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.conatiner_skill_part_name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: rgb(73, 73, 73);
    color: black;
    padding-right: 4rem;
}
.conatiner_skill_part_name > span{
    font-size: 500%;
    font-weight: 900;
}
.container_skill{
    display: flex;
    justify-content: center;
    width: 80%;
}
.container_skill_img{
    width: 50%;
}
.conatiner_skill_part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 10%;
}
.conatiner_skill_part1{
    visibility: hidden;
    width: 80%;
}
.section2{
    display: none;
    margin-top: 5rem;
}
.project{
    /* background-color: aqua; */
    display: flex;
    height: 100vh;
    overflow: scroll;
    position: relative;
    animation: scroll_up 1s;
}
.project_container_name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: rgb(73, 73, 73);
    color: black;
    padding-right: 4rem;
    position: sticky;
    top: 0;
}
.project_container_name > span{
    font-size: 400%;
    font-weight: 900;
}
.project_container_details{
    overflow: scroll;
    animation: scroll_side 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
.project_container_details_name_details_para{
    padding-top: 4rem;
    margin-left: 2rem;
    margin-right: 5rem;
}
.project_container_details_name_details{
    position: relative;
}
.project_container_details_name_details_head{
    position: absolute;
    font-size: 100%;
    color: darkgrey;
    background-color: whitesmoke;
    border-radius: 2rem;
    padding: 1rem;
    top: 0%;
    z-index: 100;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
@keyframes scroll_up {
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0rem);
    }
}
@keyframes scroll_side {
    0%{
        opacity: 0;
        transform: translateX(20rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}
.project_container_details_name_img_src{
    width: 100%;
    height: 20%;
    border-bottom: 1px whitesmoke solid;
}
.project_container_details_name{
    width: 70%;
    height: 90%;
    background-color: rgb(73, 73, 73);
    margin: 10%;
    color: whitesmoke;
}
.contact_about{
    background-color: rgb(73, 73, 73);
    display: flex;
    height: 60vh;
    margin-top: 8rem;
}
.contact_form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    clip-path: polygon(0 0,100% 0,85% 100%,0 100%);
    flex-basis: 60%;
    flex-direction: column;
}
input{
    border-radius: 2rem;
    border-style: none;
    width: 50%;
    height: 3rem;
    color: whitesmoke;
    background-color: rgba(73, 73, 73,1);
    margin-bottom: 1%;
    padding-left: 1rem;
    outline: none;
}
textarea{
    border-radius: 2rem;
    border-style: none;
    background-color: rgba(73, 73, 73,1);
    padding: 1rem;
    width: 50%;
    outline: none;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_img_logo{
    align-items: center;
    width: 50%;
}
